.khan__buy-link {
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    transition: linear 0.2s;
  }

.khan__buy-link.khan__buy-link:hover {
  opacity: 0.3;
}
